body {
    background: #830E0D;
    font-family: Arial, Helvetica, sans-serif;
}

.assignment {
    display:flex;
    padding:10px;
    margin:10px;
    background: whitesmoke
}

.assignment img {
    width:200px;
    margin: 10px;
    border:2px solid black;
}

.assignment img:hover {
    border:4px dashed #830E0D
}

h1 {
    color: whitesmoke;
    text-align: center;
}

a {
    text-decoration: none;
    color:black;
}

a:hover {
    color:#830E0D;
}